body{
    --thumbBG: #0005E5;
    --scrollbarBG: #E5E5E5;
}

body::-webkit-scrollbar {
    width: 11px;
    scrollbar-width: thin;
    scrollbar-color: #000;
  }
  
body::-webkit-scrollbar-track {
    background: transparent;
  }
body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
}