@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

// Set your brand colors
$brand-color: #2f80ed;
$white-shades: #FFFFFF;
$white-accent: #E5E5E5;
$dark-shades: #000000;
$dark-accent: #CC282C;

// Update Bulma's global variables
$family-sans-serif: 'Open Sans', sans-serif;
$dark: $dark-shades;
$widescreen-enabled: false;
$fullhd-enabled: false;
$footer-background-color: $dark-shades;
$navbar-background-color: $dark-shades;
$link: $white-accent;

// Update some of Bulma's component variables
$body-background-color: $white-shades;
$control-border-width: 0.1rem;
$input-border-color: solid;

$column-gap: 2rem;
//$input-shadow: ;

@import "../node_modules/bulma/bulma.sass";
/*
@import "../node_modules/bulma/sass/components/_all.sass";
@import "../node_modules/bulma/sass/components/modal.sass";
@import "../node_modules/bulma/sass/components/level.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
*/

//NORMAL CSS
html{
    scroll-behavior: smooth;
}
  
body{
    transition: all 2s;
}
  
.footer{
    color: $white-shades;
}

.footer .title{
    color: $white-shades;
}

.quick-links{
    color: white;

}

.quick-links li{
    padding-bottom: 1rem;
}



.grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
 }

.showcase_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    transition: all 500ms;
    overflow: hidden;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }
  
.showcase_card:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.1);
 }

 .card_holder {
    height: 100%;
    padding: 20px;
 }

 .card_img {
    width: 100%;
    height: 15rem;

 }

 .showcase_img{
    width: 100%; height: 100%;
 }